.profile img {
	width: 260px;
	height: 260px;
}

.jumbotron {
	background: linear-gradient(270deg, #42F0C7 0%, #FFD700 82.81%);
}

.profile p {
	font-size: 1rem;
	color: #222;
	font-family: Lato;
	margin: 0 0;
}

.profile {
	margin-bottom: 16px;
}