.jumbotron {
	background: linear-gradient(270deg, #42F0C7 0%, #9045B0 82.81%);
}

h4 {
	margin-top: 24px !important;
}

.content-section {
  margin-top: 24px;
  margin-bottom: 24px;
}

hr {
	margin-top: 36px;
}