/*navbar*/
.navbar {
	font-family: Roboto !important;
	font-size: 1.1rem;
}

.active .nav-link{
	color: #0069B6 !important;
}

.navbar .btn {
	font-size: 1.1rem;
}

/*text*/
body {
    font-family: Lato !important;
}

h1 {
  font-weight: 700;
  font-size: 4rem;
}

h2 {
  font-weight: 300;
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
  color: #0069B6;
  font-weight: bold;
}

h4 {
  margin-top: 36px;
  font-size: 1.8rem;
  color: #0069B6;
  font-weight: 500; 
}

h5 {
  margin-top: 48px;
  font-size: 1.8rem;
  color: #444;
  font-weight: 500; 
}

h6 {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: Lato;
  margin-bottom: 0;
}

p {
  font-size: 1.1rem;
  color: #333;
  font-family: Lato;
}

.content-section p {
  color: #555;
  margin: 0;
}

.content-section h6 {
  margin-top: 16px;
}

/*jumbotron*/
.jumbotron {  
  text-align: right;
  color: white;
  padding: 8rem 2rem;
  position: relative;
}

.welcome-text {
  text-align: center;
  padding-bottom: 36px;
}

/*buttons*/
.btn-primary.btn-light-blue {
  background-color: #2F80ED;
  border-color: #2F80ED;
  font-family: Roboto;
  font-weight: bold;
  border-radius: 12px;
}

.btn-primary.btn-light-blue:hover {
  background-color: #2A73D5;
  border-color: #2A73D5;
}

.btn-success.btn-teal {
  background-color: #00DAAB;
  border-color: #00DAAB;
  font-family: Roboto;
  font-weight: bold;
  border-radius: 12px;
}

.btn-success.btn-teal:hover {
  background-color: #00ba92;
  border-color: #00ba92;
}

.btn-outline-dark.btn-thick {
  border: 8px solid #555;
}

.btn-outline-dark.btn-thick:hover {
  border: 8px solid #555;
  background: #555;
}

/*Footer*/

footer.container{
  padding: 0;
  margin: 0;
}

footer .btn{
  vertical-align: top;
}

.social-links {
  text-align: center;
  padding: 16px 0;
  background-color: #eee;
  width: 100vw;
}

.social-links i:first-child {
  color: #2F80ED;
  margin-right: 16px;
}

.social-links i:nth-child(2) {
  color: red;
  margin-right: 16px;
}

.social-links i:hover {
  color: #333;
}

footer .bottom-row {
  width: 100vw;
  background-color: #111;
  padding: 16px 8px;
}

footer .bottom-row p {
  color: white;
  padding: 16px 8px;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

#attribution {
  font-size: .5rem;
  font-weight: 300;
}

#cloud {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin-left: -10vw;
  margin-bottom: -7vw;
  width: 35vw;
}

#rocket {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 10vw;
  margin-left: 18vw;
  margin-bottom: 12vw;
  z-index: 1;
}

.banner-text {
  z-index: 2;
  position: relative;
}

.jumbotron {
  min-height: 50vh;
}

.jumbotron .single-header {
  font-size: 5rem;
  padding-top: 3vw;
}

.thick-blue-hr {
  border: 4px solid #36C2F3;
  margin-top: 4px;
}

.center-inside {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}