h3 {
  margin-top: 36px;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Roboto !important;
}

h4 {
  font-weight: bold;
  font-family: Roboto !important;
  font-size: 1.5rem;
  margin-bottom: 16px;
}

p {
  font-size: 1.3rem;
  color: #333;
  padding-left: 2rem;
  padding-right: 2rem;
}

/*buttons*/

.btn-pill {
  border-radius: 24px !important;
  margin-top: 16px;
}

.card-text {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 36px;
  height: 100%;
}

.card-row {
  margin: 24px auto;
}

.card-img {
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.blue-underscore {
  border: 6px solid #36C2F3;
  width: 6rem;
  margin-top: 8px;
  margin-bottom: 24px;
}

.welcome-text .btn {
  display: block;
  margin: 16px auto;
}

.button-h-group {
  margin-top: 24px;
}

.button-h-group .btn {
  margin-left: 24px;
  margin-bottom: 8px;
}